   
  :root {
    --color-grey: rgba(211, 211, 211, 0.5);
    --color-black: rgb(0, 0, 0);
  }

  body {
    background-image: url("/src/img/abc.svg"), linear-gradient(155deg, #0515fb 80%, #c900fb);
    background-size: cover;

    font-family: 'Ubuntu', sans-serif;
  }

  .container {
    margin-top: 20px;
    color: rgb(5, 5, 5);
  }

  #title {
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
  }

  #description {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
  }

  .divisao {
    margin: 15px 65px;
  }

  .textup {
    display: block;
    margin: 0 25px;
    width: 300px;
    height: 38px;
    border-radius: 0%;
    border: 0px
  }

  .label {
    color: rgba(0, 50, 255, 1);
    font-weight: bold;
    margin: 0px 20px;
    margin-bottom: 500px;
    font-size: 1.2em;
  }

  .Form-control {
    background-color: rgb(241, 241, 241);
    border-radius: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 680px;
    padding: 10px 2px 1px 3px;
    margin: 15px auto;
  }

  .svg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  input,
  select,
  textarea {
    border-radius: 15px !important;
  }

  input[type=text],
  input[type=email],
  input[type=number],
  select[id=dropdown],
  textarea {
    border: 1px solid #8405fb;
    box-sizing: border-box;
    margin: 5px auto;
    text-indent: 5px;
    outline: 0;
  }

  textarea,
  select[id=dropdown]:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0;
    margin-top: 5px !important;
  }


  input[type=checkbox],
  input[class="input-radio"] {
    margin-top: 5px;
    left: 20px;
  }

  .input-radio {
    position: relative;
    margin: 3px 21px 2px 15px;
  }

  .input-checkbox {
    margin: 3px 21px 2px 15px;
    position: relative;
  }

  .input-textarea {
    min-height: 100px;
    width: 300px;
    padding: 0.625rem;
    margin: 0 35px;
    resize: none;
  }

  #submit {
    display: block;
    margin: 15px auto;
    padding: 0.6rem;
    width: 250px;
    color: inherit;
    cursor: pointer;
    border-radius: 1em;
    border: 1px solid #8405fb;
    background-color: #8405fb;
    font-size: 1.2em;
    color: white;
  }

  .p-define {
    color: rgba(0, 50, 255, 1);
    font-weight: bold;
    font-size: 1.2em;
    margin: 0px 20px;
  }
